.filteritem:hover{
    background-color:green;
}

.filteritem{
    width:100%;
    padding-left:10px;
}
.filterdiveder{
    border-bottom:1px solid #4cff00;
}
.dropdown-menu{
    background-color: rgba(255,0,0,0.5);
}

table{
    table-layout:fixed;
}
table > thead> tr > th:nth-child(1){
    width:10%;
}
table > thead> tr > th:nth-child(2){
    width:20%;
}
table > thead> tr > th:nth-child(3){
    width:30%;
}
table > thead> tr > th:nth-child(4){
    width:40%;
}