body {
    padding: 30px;
}

thead,tbody{
	display:block;
}
thead{
    border:1px solid red;
}
tbody {
    border:1px solid blue;
	overflow-y:scroll;
	height:100vh;
}
td, th {
    table-layout:fixed;
}

thead > tr > th:nth-child(1),
tbody > tr > td:nth-child(1){
    width: 200px !important;
    border:1px solid green !important;
}
thead > tr > th:nth-child(2),
tbody > tr > td:nth-child(2){
    width: 300px !important;
    border:1px solid green !important;
}
thead > tr > th:nth-child(3),
tbody > tr > td:nth-child(3){
    width: 150px !important;
    border:1px solid green !important;
}
thead > tr > th:nth-child(4),
tbody > tr > td:nth-child(4){
    width: 150px !important;
    border:1px solid green !important;
}