html,body {
    height: 100%; 
    overflow: hidden
}

thead,tbody{
	display:block;
}

tbody {
	overflow-y:scroll;
	height:88vh;
}

thead{
    padding-right:17px; /*padding scroll bar width*/
}

html,body {
    height: 100%; 
    overflow: hidden
}

thead,tbody{
	display:block;
}

tbody {
	overflow-y:scroll;
	height:88vh;
}

thead{
    padding-right:17px; /*padding scroll bar width*/
}

thead > tr > th:nth-child(1),
tbody > tr > td:nth-child(1){
    width: 50px;
    background-color:red;
}
thead > tr > th:nth-child(2),
tbody > tr > td:nth-child(2){
    width: 300px;
    background-color:blue;
}
thead > tr > th:nth-child(3),
tbody > tr > td:nth-child(3){
    width: 150px;
    background-color:green;
}
thead > tr > th:nth-child(4),
tbody > tr > td:nth-child(4){
    width: 150px;
    background-color:yellow;        
}